html {
    font-size: 10px;
    font-family: 'Lato', sans-serif;
    scroll-behavior: smooth;
    box-sizing: border-box;
}

h1 {
    color: #ffffff;
    font-weight: 700;
    font-size: 10rem;
    text-align: center;
}

h2 {
    font-size: 4rem;
    margin: 50px 0;
    text-align: center;
}
h3 {
    font-size: 2rem;
    margin: 0;
    text-align: center;
}
p {
    font-size: 1.5rem;
}
header {
    background-color: #001453;
    padding: 50px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #ffffff;
}
.new-item-form-section {
    padding: 50px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 25px;
}
form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    max-width: 600px;
}
form input, select {
    border: solid 1px #001453;
    border-radius: 2px;
    width: 190px;
    min-height: 35px;
    background-color: #ffffff;
    text-align: center;
    font-size: 1.5rem;
}
.form-outer {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 30px;
}
.form-inner {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;
}
.form-inner div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
.form-submit-button {
    text-decoration: none;
    font-size: 2rem;
    transition: all 0.5s;
    display: block;
    min-width: 200px;
    text-align: center;
    padding: 25px 0;
    color: #001453;
    border-color: #001453;
    border-width: 2px;
    border-style: solid;
    background-color: #ffffff;
    border-radius: 3px;
}
.form-submit-button:hover {
    color: #ffffff;
    background-color: #ff8000;
    border-color: #ff8000;
}

.item-cards-section {
    padding: 50px;
    background-color: #001453;
    color: #ffffff;
}
.bottlesParent {
    margin: 20px 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.bottleCard {
    width: 400px;
    padding: 20px;
    border: #ffffff solid 2px;
    border-radius: 3px;
}

footer {
    background-color: #ffffff;
    padding: 40px 0;
    display: flex;
    justify-content: center;
    border-top: solid 1px #00145350;
}

footer div {
    display: flex;
    gap: 25px;
}

.footer-item a {
    text-decoration: none;
    color:#001453;
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 0.25rem;
    transition: all 0.5s;
}

.footer-item a:hover {
    color: #bdbdbd;
}

@media screen and (max-width: 600px) {
    html {
        font-size: 2vw;
    }
    h1 {
        font-size: 7rem;
    }

    h2 {
        font-size: 5rem;
    }
    .form-outer {
        flex-direction: column;
    }
}